.Card{
    position: relative;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}
.card-contents{
    padding: 10px;
    width: 25%;
}
.card-contents button{
    width: 100%;
    padding: 8px;
    border-style: none;
}
.card-image{
    width: 100%;
    height: 35%;
}

.card-text .card-money{
    font-size: 28px;
    color: #1a1a38;
    font-weight: bold;
}

.card-text .card-information{
    font-weight: bold;
    font-size: 20px;
}
